<main class="contenedor">
  <h1>React JS</h1>

  <div class="camisa">
    <img class="camisa__imagen" src="img/3.jpg" alt="Imagen del Producto" />

    <div class="camisa__contenido">
      <p>
        Maecenas consectetur ultricies mi vel venenatis. Curabitur risus tellus,
        congue non tellus at, semper dapibus turpis. Duis pellentesque, risus
        sit amet placerat porttitor, tortor augue volutpat ante, non dignissim
        odio ligula at arcu.
      </p>

      <form class="formulario">
        <select class="formulario__campo">
          <option disabled selected>-- Seleccionar Talla --</option>
          <option>Chica</option>
          <option>Mediana</option>
          <option>Grande</option>
        </select>
        <input
          class="formulario__campo"
          type="number"
          placeholder="Cantidad"
          min="1"
        />
        <input
          class="formulario__submit"
          type="submit"
          value="Agregar al Carrito"
        />
      </form>
    </div>
  </div>
</main>
